@media (min-width: 360px) {
  :root {
    --col-divisor: 1;
    --chart-divisor: 2;
  }
}
@media (min-width: 768px) {
  :root {
    --col-divisor: 2;
    --chart-divisor: 2;
  }
}
@media (min-width: 992px) {
  :root {
    --col-divisor: 3;
  }
}
