.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .logo {
  padding: 0 20px;
  font-family: "Kaushan Script", cursive;
  font-size: x-large;
  color: #fff;
  width: -webkit-fill-available;
}
